1\. List the Title, UPC and Genre of all CD titles. (Titles table)

In [4]:
SELECT Title, UPC, Genre 
FROM Titles;

Title,UPC,Genre
Meet the Neurotics,2727366627,alternative
Smell the Glove,1283772282,metal
Time Flies,1882344222,alternative
Neurotic Sequel,2828830202,alternative
Sonatas,3999320021,classical
Louis at the Keys,3838227111,jazz

2\. List the information of CD(s) produced by the artist whose ArtistID is 2. (Titles table)

In [6]:
SELECT * 
FROM Titles
WHERE ArtistID = 2;

TitleID,ArtistID,Title,StudioID,UPC,Genre
7,2,Louis at the Keys,3,3838227111,jazz

3\. List the First Name, Last Name, HomePhome and Email address of all members. (Members table)

In [8]:
SELECT FirstName, LastName, HomePhone, Email
FROM Members;

FirstName,LastName,HomePhone,Email
Roberto,Alvarez,7651552983,ral@mightyhostl.com
Jose,MacArthur,6331289393,jmac@dowop.com
Mary,Chrisman,3171820387,mjc17@daviscorp.com
Warren,Boyer,8221722883,wbman@uptime.net
Doug,Finney,9821222929,fennyd@bitspeed.com
Terry,Irving,5411252093,NULL
Michelle,Henderson,8221928273,NULL
William,Morrow,9981722928,wmorrow@wmorrow.com
Frank,Payne,9981737464,NULL
Aiden,Franks,8321729283,kosmo@ispl.com
Bryce,Sanders,6441824283,bs@cookery.com
Carol,Wanner,6831223944,NULL
Brian,Ranier,6231842933,NULL
Marcellin,Lambert,8331929302,mlambert@corkscrew.com
Caroline,Kale,7321223742,NULL
Kerry,Fernandez,2211229384,NULL
Tony,Wong,3311692832,twong@tamilla.org
Bonnie,Taft,3721223292,taffygirl@signon.com
Louis,Holiday,1451223838,NULL
Bobby,Crum,1831828211,NULL
Vic,Cleaver,8111839292,NULL
Roberto,Goe,2771123943,NULL
Davis,Goodman,2771152882,goody@irvingnet.com

4\. List the Member ID of all male members. (Members table)

In [12]:
SELECT MemberID, Gender
FROM Members
WHERE Gender = 'm'

MemberID,Gender
13,F
21,F
14,F
8,F
18,F

5\. List the Member ID and Country of all members in Canada. (Members table)

In [13]:
SELECT MemberID, Country 
FROM Members
WHERE Country = 'Canada'

MemberID,Country
33,Canada
26,Canada