List all tables

In [4]:
SELECT
  *
FROM
  SYSOBJECTS
WHERE
  xtype = 'U';
GO

name,id,xtype,uid,info,status,base_schema_ver,replinfo,parent_obj,crdate,ftcatid,schema_ver,stats_schema_ver,type,userstat,sysstat,indexdel,refdate,version,deltrig,instrig,updtrig,seltrig,category,cache
SalesPeople,2099048,U,1,0,0,0,0,0,2022-05-29 10:08:00.383,0,0,0,U,1,3,0,2022-05-29 10:08:00.383,0,0,0,0,0,0,0
Studios,18099105,U,1,0,0,0,0,0,2022-05-29 10:08:00.520,0,0,0,U,1,3,0,2022-05-29 10:08:00.520,0,0,0,0,0,0,0
Titles,34099162,U,1,0,0,0,0,0,2022-05-29 10:08:00.610,0,0,0,U,1,3,0,2022-05-29 10:08:00.610,0,0,0,0,0,0,0
Tracks,50099219,U,1,0,0,0,0,0,2022-05-29 10:08:00.687,0,0,0,U,1,3,0,2022-05-29 10:08:00.687,0,0,0,0,0,0,0
XrefArtistsMembers,66099276,U,1,0,0,0,0,0,2022-05-29 10:08:01.013,0,0,0,U,1,3,0,2022-05-29 10:08:01.013,0,0,0,0,0,0,0
Survey,2005582183,U,1,0,0,0,0,0,2022-05-22 14:05:02.200,0,0,0,U,1,3,0,2022-05-22 14:05:02.200,0,0,0,0,0,0,0
Visit_Bool,2021582240,U,1,0,0,0,0,0,2022-05-22 14:05:41.920,0,0,0,U,1,3,0,2022-05-22 14:05:41.920,0,0,0,0,0,0,0
Date,2037582297,U,1,0,0,0,0,0,2022-05-22 14:06:17.340,0,0,0,U,1,3,0,2022-05-22 14:06:17.340,0,0,0,0,0,0,0
Geo,2053582354,U,1,0,0,0,0,0,2022-05-22 14:50:47.333,0,0,0,U,1,3,0,2022-05-22 14:50:47.333,0,0,0,0,0,0,0
Artists,2101582525,U,1,0,0,0,0,0,2022-05-29 10:07:59.773,0,0,0,U,1,3,0,2022-05-29 10:07:59.773,0,0,0,0,0,0,0
Genre,2117582582,U,1,0,0,0,0,0,2022-05-29 10:07:59.960,0,0,0,U,1,3,0,2022-05-29 10:07:59.960,0,0,0,0,0,0,0
Members,2133582639,U,1,0,0,0,0,0,2022-05-29 10:08:00.040,0,0,0,U,1,3,0,2022-05-29 10:08:00.040,0,0,0,0,0,0,0

  

List the first name, last name, home phone, and gender of all members from Georgia who either have a home phone in area code 822 or are female

In [26]:
SELECT FirstName, LastName, HomePhone, Gender 
FROM Members
WHERE Region = 'GA' AND (HomePhone LIKE '822%' or Gender = 'F')

FirstName,LastName,HomePhone,Gender
Doug,Finney,9821222929,M
Terry,Irving,5411252093,M
Michelle,Henderson,8221928273,F

List all the information of tracks that do not have an MP3.

In [35]:
SELECT *
FROM Tracks
WHERE MP3 = '0'

TitleID,TrackNum,TrackTitle,LengthSeconds,MP3,RealAud
3,7,Wooden Man,314,0,0
3,8,UPS,97,0,0
3,9,Empty,182,0,0
3,10,Burrito,65,0,0

List the TitleID, Title, and UPC of any titles whose UPC end with '2'

In [36]:
SELECT TitleId, Title, UPC 
FROM Titles
WHERE UPC LIKE '%2'

TitleId,Title,UPC
3,Smell the Glove,1283772282
4,Time Flies,1882344222
5,Neurotic Sequel,2828830202

4\. If the Base field reports the daily base salary of each salesperson, report the Fristname, Lastname, and weekly (5 work days) salary of each salesperson whose weekly salary is greater than $1000. The format of the results should be: First Name  Last Name  Weekly Salary

In [5]:
SELECT FirstName, LastName, (Base * 5) AS 'Weekly Salary'
FROM SalesPeople
WHERE (Base * 5) > 1000;

FirstName,LastName,Weekly Salary
Lisa,Williams,1500.00

5\. Report the average, shortest and longest track length in minutes of all tracks.

In [22]:
SELECT AVG(LengthSeconds/60) AS 'Average', MIN(LengthSeconds/60) AS 'Shortest', MAX(LengthSeconds/60) AS 'Longest'
FROM Tracks;

Average,Shortest,Longest
4,0,13

6\. List the number of track titles that begin with the letter 's' and the average length of these tracks in seconds

In [31]:
SELECT TrackTitle, AVG(LengthSeconds) AS 'Average Length'
FROM Tracks
WHERE TrackTitle LIKE 's%';

: Msg 8120, Level 16, State 1, Line 1
Column 'Tracks.TrackTitle' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

7\. Report the number of tracks for each TitleID

In [35]:
SELECT TitleID, COUNT(TitleID) AS 'Number of Tracks'
FROM Tracks
GROUP BY TitleID

TitleID,Number of Tracks
1,8
3,10
4,10
5,9
6,5
7,8

8\. Report the total time in minutes for each titleid

In [39]:
SELECT TitleID, SUM(LengthSeconds/60) AS 'Total Time in Minutes'
FROM Tracks
GROUP BY TitleID

TitleID,Total Time in Minutes
1,33
3,32
4,33
5,30
6,42
7,37

9\. Report region and the number of members in each region in the members table. Sort the results by the region.

In [60]:
SELECT Region, COUNT(MemberID) AS 'Number of Members'
FROM Members
GROUP BY Region

Region,Number of Members
CA,1
GA,3
IL,1
IN,2
NC,1
NY,2
OH,2
ONT,2
TX,3
VA,3
VT,3

10\. For any region that has more than one member with an e-mail address, list the region and the number of members with an e-mail address.

In [77]:
SELECT Region, COUNT(MemberID) AS 'Number of Members'
FROM Members
WHERE Email IS NOT NULL 
GROUP BY Region HAVING COUNT(MemberID) > 1

Region,Number of Members
IN,2
TX,2